.product-card {
  max-width: 400px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}
.cart-button {
  background-color: var(--dark-purple) !important;
}
.details-button {
  color: var(--dark-purple) !important;
  border-color: var(--dark-purple) !important;
  background-color: #fff !important;
}

button {
  font-size: 10pt;
}

a {
  color: inherit;
  text-decoration: none;
}
